/tmp
/out-tsc

/node_modules
**/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Build output
**/dist
**/dist/
*.tsbuildinfo

# Test coverage
**/coverage
**/coverage/

# Yarn
.yarn/cache
.yarn/install-state.gz

# Logs
*.log
.DS_Store

# Storybook static build output
storybook-static/

.vscode/*
/.idea/
.env
.env*
.release-status.yml
